@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
}

/* ----------
  background images
---------- */
body {
  background-image: url('https://images.pexels.com/photos/415824/pexels-photo-415824.jpeg?cs=srgb&dl=pexels-pixabay-415824.jpg&fm=jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto Mono", monospace;
  height: 100vh;
}

/* ----------
  baby timer card: desktop styling @ 954px x 1254px and up
---------- */
.main {
  max-width: 1000px;
  backdrop-filter: blur(0.3rem);
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  padding: 1rem;
  border-radius: 15px;
}

.main h2 {
  font-size: 70px;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px #000000;
}

.main h2 span {
  color: rgb(19, 67, 109);
}
.main #timer {
  text-align: center;
  font-family: inherit;
  color: #fff;
  font-size: 60px;
  margin-top: 40px;
  background-color: rgb(118, 40, 40);
  border-radius: 15px;
  margin-bottom: 10px;
  text-shadow: 1px 1px #000000;
}

/* ----------
  baby timer card: desktop styling
---------- */

@media (max-width: 954px) {
  .main {
    width: 100%;
    margin: 5% 5%;
  }

  .main h2 {
    font-size: 3.5rem;
  } 
  
  .main #timer {
    font-size: 3rem;
  }
}

@media (max-width: 518px) {
  .main #timer {
    font-size: 2rem;
  }
}